# The releng team is by default the owner of everything.
*             @eclipse-disuko/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-disuko/eclipsefdn-security
